graphs {
  graph_id: 259002525
  priority: 0

  engines {
    id: 711
    engine_name: "Mind_Camera"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {
      items {
        name: "data_source"
        value: "${template_data_source}"
      }

      items {
        name: "fps"
        value: "10"
      }

      items {
        name: "image_format"
        value: "YUV420SP"
      }

      items {
        name: "image_size"
        value: "1280x720"
      }
    }
  }

  engines {
    id: 777
    engine_name: "face_detection_inference_1"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config {

      items {
        name: "confidence"
        value: "0.9"
      }
      items {
        name: "model_path"
        value: "../../script/face_detection.om"
      }
    }
  }

  engines {
    id: 214
    engine_name: "head_pose_inference_1"
    side: DEVICE
    thread_num: 1
    so_name: "./libDevice.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../script/depl.om"
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 824
    engine_name: "head_pose_postprocess_1"
    side: HOST
    thread_num: 1
    so_name: "./libHost.so"
    ai_config {
      items {
        name: "Confidence"
        value: "0.9"
      }

      items {
        name: "PresenterIp"
        value: "${template_presenter_ip}"
      }

      items {
        name: "PresenterPort"
        value: "${template_presenter_port}"
      }

      items {
        name: "ChannelName"
        value: "${template_app_name}"
      }
    }
  }

  connects {
    src_engine_id: 711
    src_port_id: 0
    target_engine_id: 777
    target_port_id: 0
  }

  connects {
    src_engine_id: 214
    src_port_id: 0
    target_engine_id: 824
    target_port_id: 0
  }

  connects {
    src_engine_id: 777
    src_port_id: 0
    target_engine_id: 214
    target_port_id: 0
  }
}			
